a {
    color: $black;
    text-decoration: none;
    &.router-link-active {
        color: $black;
        color: $light-grey;
    }
    &:hover {
        text-decoration: none;
        color: $black;
    }
}

.welcome-text a {
    color: $blue;
}

.articles-container a,
.card-footer a,
.not-found-container a {

    background-image: linear-gradient(
        transparent 0%,
        transparent calc(50% - 9px),
        $transparent-turquoise calc(50% - 9px),
        $transparent-turquoise 100%
    );
    background-size: 100% 200%;
    word-break: break-word;
    padding: 2px 1px 1px;
    transition: background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s;
    background-position: 0px 0px;

    color: $light-blue;

    &:hover {
        background-image: linear-gradient(
            transparent 0%,
            transparent calc(50% - 9px),
            $turquoise calc(50% - 9px),
            $turquoise 100%
        );
        background-position: 0px 100%;
        color: $dark-blue;
    }
}

.navbar a {
    background-color: transparent;
}

 