@font-face {
    font-family: karla;
    src: url(../../fonts/Karla/Karla-Regular.ttf);
}

@font-face {
    font-family: 'karla-bold';
    src: url(../../fonts/Karla/Karla-Bold.ttf);
}

@font-face {
    font-family: rubik;
    src: url(../../fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'rubik-bold';
    src: url(../../fonts/Rubik/Rubik-Bold.ttf);
}