// Colors
$light-grey: #e3e3e3;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$plum: rgba(221,160,221,1);
$transparent-turquoise: rgba(163, 232, 213,0.7);
$transparent-turquoise: rgba(100, 200, 202,0.7);
$pink: #f6dfee;
$turquoise: #a3e8d5;
$turquoise: rgba(100,200,202,1);
$white: #fff;
$black: #021C2D;
$orange: #f27a00;
$dark-blue: #021c2d;
$blue: #4fa0df;
$light-blue: #c9dff4;
$purple: #535495;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
